<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
        </script>
    </head>
</head>
<body>
<form action="https://seat.lib.whu.edu.cn:8443/rest/v2/searchSeats/2019-11-19/1020/1050" method="post"  >
    <input name="roomId" value="4"></input>
    <input name="buildingId" value="1"></input>
    <input name="t" value="1"></input>
    <input name="t2" value="2"></input>
    <input name="batch" value="9999"></input>
    <input name="page" value="1"></input>
    <button id="tijiao" type="submit">提交</button>
</form>
</body>
</html>